*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title{
    text-align: center;
    font-size: 6vmin;
    padding: 50px auto;
   
}
.centerline{
    width: 80%;
    margin: 20px auto;
    justify-content: center;
}
.container{
    width: 80%;
    display: grid;
    margin: 10px auto;
    
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    align-items: center;
    text-align: center;
}
.items{
    list-style: none;
    margin: 10px auto;
    cursor: pointer;
    
}
.item-image{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    
}
.item-name{
    margin: 10px auto;
}
img{
    width: 100%;
    height: 100%;
}

.container1{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin: 10px auto;
}
.handlebtn{
    display: flex;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 0.5vw 2vw;
    font-size: 4vmin;
    border: 0.2px solid blue;
    justify-content: center;
    margin: 10px 5px;
    cursor: pointer;
}
div{
    margin: 5px auto;
}
.action{
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
}
.hidden{
    display: none;
}

.container12{
    display: flex;
    width: 60vw;
    margin: 20px auto;
    flex-direction: column;
    justify-content: center;
    font-size: 1vmin;
}
input{
    width: 50vw;
    padding: 0.5vw 2vw;
    margin: 10px auto;
}
.handlebtn1{
    width: 50vw;
    padding: 0.5vw 2vw;
    margin: 10px auto;
    font-size: 4vmin;
    background-color: blue;
    color: white;
    cursor: pointer;
    
    border: 0.2px solid blue;

}
.filter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 20px auto;
}

select{
    padding: 0.5vw 1vw;
    background-color: blue;
    color: white;
    border: 0.2px solid blue;
    margin: 0.5vw 1vw;
    
    font-size: 2vmin;
}
option{
    font-size: 2vmin;
    padding: 0.5vw 1vw;

}
.searchmovie{
    
    
}
.clearbtn{
    
    padding: 0.5vw 2vw;
    margin: 10px auto;
    font-size: 2vmin;
    background-color: blue;
    color: white;
    cursor: pointer;
    
    border: 0.2px solid blue;
    
}

.hide{
    display: none;
}

.hide1{
    display: block;
    text-align: center;
    font-size : 5vw
}


@media (max-width:1080px) {
    .container{
        display: block;
       
    }
   
    
}
